# =========================
# JAVA / SPRING BOOT
# =========================
target/
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# ENV FILES
# =========================
.env
**/.env

# =========================
# FRONTEND (React / Vite)
# =========================
**/node_modules/
**/dist/
**/.vite/

# =========================
# IDEs - STS / Eclipse
# =========================
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# INTELLIJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr

# =========================
# NETBEANS
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# LOGS / SYSTEM FILES
# =========================
*.log
.DS_Store
Thumbs.db
